body{
	font-family:Arial;
}

*{
	padding:0;
	margin:0;
	border:0;
	list-style:none;
}

a{
	text-decoration:none;
}

ul.menu{
	background:#fff;
	height:50px;
	
	margin-left:auto;
	margin-right:auto;
	width:60%;
}

ul.menu >li{
	float:left;
	height:50px;
	position:relative;
	width:200px;
}

ul.menu >li >a{
	display:block;
	font-size:14px;
	color:gray;
	padding:0 15px;
	line-height:50px;
	
}

ul.menu ul{
	background:#639C33;
	width:200px;
	position:absolute;
	top:30px;
	left:0;
	opacity:0;
	transition: 250ms all;
	visibility:hidden;
}

ul.menu ul li{
	position:relative;
}

ul.menu ul li a{
	display:block;
	padding:7px 12px;
	color:#fff;
	font-size:14px;
}

ul.menu >li ul ul{
	top:0;
	left:180px;
}

ul.menu >li:hover >ul{
	visibility:visible;
	opacity:1;
	top:50px;
}

ul.menu ul li:hover >ul{
	visibility:visible;
	opacity:1;
	left:200px;
	background:#73a32a;
}

ul.menu ul li a:hover{
	color:pink;
	background-color:red;
}

h2{
	color:#639C33;
	bold;
}

.recipeImage{
	width:30%;
	height:45%;
}

video{
	width:50%;
	height:50%;
}

#container {
  text-align: center;
}

.text {
  display: inline-block;
}

input[type=text] {
	border-radius: 4px;
}

input[type=text]:focus {
	border: 3px solid red;
}

	
	
	
	
	
	
	
	